@tailwind base;

@tailwind components;

@font-face {
  font-family: 'adult-swim';
  src: url(../fonts/adult-swim.ttf);
}

@font-face {
  font-family: 'calligraphr';
  src: url(../fonts/calligraphr.ttf);
}

@font-face {
  font-family: 'rick-and-morty';
  src: url(../fonts/rick-and-morty.ttf);
}

@font-face {
  font-family: 'schwifty';
  src: url(../fonts/schwifty.ttf);
}

@tailwind utilities;
